@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600');

*{
  font-family: 'Nunito', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background:'#301934';
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: gold;
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: rgb(114, 113, 113);
}

.category-btn:hover {
  background-color: #FC1503 !important;
  color: white !important;
}

.category-btn:hover span{
  color: white !important;
}

.react-player {
  height: 64vh !important;
  width: 100% !important;
}

.search-bar{
  border:none;
  outline:none;
  width:350px;
}

.category-btn{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor:pointer;
  background: transparent;
  outline: none;
  border: none;
  padding: 7px 15px;
  margin: 10px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.playlist-tag{
  background-color:rgba(0, 0, 0, 0.6);
  font-size:1.2rem;
  color:white;
  padding:10px 0;
  height:120px;
  width:35%;
  position:absolute;
  display:flex;
  align-items:center;
  justify-content:center;
  right:0;
  font-weight:bold;
  letter-spacing:1px;
}

@media screen and (max-width: 900px) {
  .category-btn{
    margin: 10px;
  }
  .video-card:hover{
    transform: none;
  }
}

@media screen and (max-width:800px){
  .copyright{
    display:none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .search-bar{
    width:220px;
  }
}



.video-card:hover{
  transform: scale(1.1);
  transition: 0.5s;
}